body {
  background-image: linear-gradient(135deg, #f0feeb 0%, #c9fcfa 100%);
  font-family: Arial, sans-serif;

}

h1,
h2 {
  margin-bottom: 1rem;
}

button {
  margin-right: 5px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

button.btn.btn-info{
  color: #ffffff;
  font-weight: 700;
}

.table > :not(caption) > * > * {
  padding: 0.75rem;
  vertical-align: middle;
}

th.archiveNotes {
  cursor: pointer;
}

th.archiveNotes a {
  color: #ffffff;
  text-decoration: none;
}

#summaryTable tbody tr td:first-child {
  width: 5%;
}

td.note-description {
  width: 30%;
}

td.actions {
  width: 20%;
}

span.badge {
  display: inline-block;
  margin-left: 0.5rem;
}

.category-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background: #6c757d;
}

img.archive-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


.error {
  color: #ff0000;
  font-size: .8rem;
  padding: 10px 0;
}
.success {
  font-size: 1.2rem;
  color: #4bb543;
}

